* {
  outline: none;
  user-select: none;
  overflow: hidden;
}

html, body {
  margin: 0;
  height: 100vh;
}

body {
  position: relative;
  background-image: linear-gradient(135deg, rgb(61, 154, 188), rgb(55, 99, 146));
}

.clearfix:before,.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
